[user]
	email = carmine@paolino.me
	name = Carmine Paolino
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[http]
	cookiefile = /Users/carmine/.gitcookies
[core]
	excludesfile = /Users/carmine/.gitignore
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
