@import "../omarchy/current/theme/waybar.css";

@define-color island alpha(@background, 0.90);

window#waybar {
  background-color: alpha(@background, 0.20);
}

window#waybar > box {
  background-color: transparent;
}

* {
  background-color: transparent;
  color: @foreground;
  font-family: "Inter", "JetBrainsMono Nerd Font";
  font-weight: 700;
  font-size: 13px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: transparent;
  padding: 0 4px;
  background-repeat: no-repeat;
}

.modules-left {
  padding-left: 0;
  padding-right: 20px;
  background-image:
    linear-gradient(@island, @island),
    linear-gradient(-60deg, transparent 50%, @island 50%);
  background-size: 100% 100%, 20px 100%;
  background-position: left top, right top;
  background-origin: content-box, padding-box;
  background-clip: content-box, padding-box;
}

.modules-center {
  padding: 0 20px;
  background-image:
    linear-gradient(@island, @island),
    linear-gradient(60deg, transparent 50%, @island 50%),
    linear-gradient(-60deg, transparent 50%, @island 50%);
  background-size: 100% 100%, 20px 100%, 20px 100%;
  background-position: center top, left top, right top;
  background-origin: content-box, padding-box, padding-box;
  background-clip: content-box, padding-box, padding-box;
}

.modules-right {
  padding-left: 20px;
  padding-right: 0;
  background-image:
    linear-gradient(@island, @island),
    linear-gradient(60deg, transparent 50%, @island 50%);
  background-size: 100% 100%, 20px 100%;
  background-position: right top, left top;
  background-origin: content-box, padding-box;
  background-clip: content-box, padding-box;
  margin-right: 0px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1px;
  min-width: 9px;
  border-radius: 6px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces {
  padding: 4px;
  padding-left: 10px;
  padding-right: 0;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: alpha(@foreground, 0.25);
  color: @background;
}

#window {
  padding: 0;
  padding-right: 6px;
  padding-bottom: 2px;
  margin-left: 6px;
  opacity: 0.9;
}

window#waybar.empty #window {
  padding: 0;
  margin: 0;
  min-width: 0;
}

#clock.date,
#clock.time,
#custom-update,
#custom-voxtype,
#custom-screenrecording-indicator {
  padding: 1px 8px;
  margin: 0;
}

#clock.date {
  padding: 1px 6px 1px 10px;
  margin-right: 2px;
  color: alpha(@foreground, 0.7);
}

#clock.time {
  padding: 1px 8px 1px 6px;
}

#custom-screenrecording-indicator {
  padding: 1px 10px 1px 8px;
}

#group-tray-expander,
#bluetooth,
#pulseaudio,
#mpris,
#cpu,
#battery {
  padding: 2px 8px;
  margin: 0;
  min-width: 12px;
}

#mpris.paused {
  color: alpha(@foreground, 0.5);
}

#network {
  padding: 1px 6px;
  margin: 0;
  min-width: 12px;
}

#custom-expand-icon,
#tray {
  padding: 1px 4px;
  min-width: 12px;
}

#group-tray-expander {
  padding-left: 6px;
}

#cpu {
  padding-right: 6px;
}

#battery {
  padding-left: 6px;
  padding-right: 10px;
}

#cpu,
#battery,
#pulseaudio,
#idle_inhibitor,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#custom-voxtype {
  min-width: 12px;
  padding-bottom: 2px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype.recording {
  color: #a55555;
}
