@import "../omarchy/current/theme/waybar.css";

@define-color island alpha(@background, 0.80);

window#waybar {
  background-color: transparent;
}

window#waybar > box {
  background-color: transparent;
}

* {
  background-color: transparent;
  color: @foreground;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 700;
  font-size: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: alpha(@foreground, 0.2);
}

.modules-left {
  padding-right: 10px;
  background: @island;
  border-bottom-right-radius: 10px;
  border-right-style: solid;
}

.modules-center {
  padding: 0 10px;
  background: @island;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-style: solid;
  border-right-style: solid;
}

.modules-right {
  padding-left: 10px;
  padding-right: 0;
  background: @island;
  border-bottom-left-radius: 10px;
  border-left-style: solid;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1px;
  min-width: 9px;
  border-radius: 6px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces {
  padding: 4px;
  padding-left: 10px;
  padding-right: 0;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: alpha(@foreground, 0.25);
  color: @background;
}

#window {
  padding: 0;
  padding-right: 6px;
  margin-left: 10px;
  opacity: 0.9;
}

window#waybar.empty #window {
  padding: 0;
  margin: 0;
  min-width: 0;
}

#clock.date,
#clock.time,
#custom-update,
#custom-voxtype,
#custom-screenrecording-indicator {
  padding: 1px 4px;
  margin: 0;
}

#clock.date {
  padding: 1px 6px 1px 10px;
  margin-right: 2px;
  color: alpha(@foreground, 0.8);
}

#clock.time {
  padding: 1px 8px 1px 6px;
}

#custom-screenrecording-indicator {
  padding: 1px 10px 1px 8px;
}

#group-tray-expander,
#bluetooth,
#pulseaudio,
#network.speed,
#disk,
#cpu,
#battery {
  padding: 2px 8px;
  margin: 0;
  min-width: 12px;
}

#mpris {
  padding: 0 10px 0 6px;
  margin: 0;
}

#mpris.playing,
#mpris.paused {
  padding: 2px 10px 2px 6px;
  margin: 0;
  min-width: 12px;
}

#mpris.prev,
#mpris.toggle,
#mpris.next {
  margin: 0;
  padding: 2px 4px;
  min-width: 12px;
}

#mpris.prev {
  padding-left: 8px;
}

#mpris.next {
  padding-right: 6px;
}

#image {
  margin: 0;
  padding: 2px 0 2px 6px;
}

#image.empty {
  padding: 0;
}

#bluetooth {
  padding: 1px 5px;
}

#mpris.paused {
  color: alpha(@foreground, 0.5);
}

#network {
  padding: 1px 6px;
  margin: 0;
  min-width: 12px;
}

#disk {
  font-size: 10px;
  letter-spacing: 0.3px;
}


#custom-expand-icon,
#tray {
  padding: 0 6px;
  padding-right: 8px;
  min-width: 12px;
}

#group-tray-expander {
  padding-left: 6px;
}

#cpu {
  padding-right: 6px;
  font-size: 10px;
  letter-spacing: 0.3px;
}

#cpu.warning {
  color: #e0b04a;
}

#cpu.critical {
  color: #e26a6a;
}

#battery {
  padding-left: 6px;
  padding-right: 10px;
}

#cpu,
#battery,
#pulseaudio,
#idle_inhibitor,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#custom-voxtype {
  min-width: 12px;
}

tooltip {
  padding: 2px;
  background-color: @island;
  color: @foreground;
  border-radius: 6px;
  border: 1px solid alpha(@foreground, 0.2);
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype.recording {
  color: #a55555;
}
