[Desktop Entry]
Version=1.0
Name=Nextcloud
Comment=Nextcloud
Exec=omarchy-launch-webapp https://cloud.paolino.me
Terminal=false
Type=Application
Icon=/home/carmine/.local/share/applications/icons/Nextcloud.png
StartupNotify=true
