[Desktop Entry]
Version=1.0
Name=Splice
Comment=Splice
Exec=omarchy-launch-webapp https://splice.com/sounds
Terminal=false
Type=Application
Icon=/home/carmine/.local/share/applications/icons/Splice.png
StartupNotify=true
