@import "../omarchy/current/theme/swayosd.css";

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;
  border-radius: 10px;

  background-color: @background-color;
}

label {
  font-family: 'iA Writer Duo S';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
