@import "../omarchy/current/theme/swayosd.css";

window {
  opacity: 0.97;
  border: 2px solid @border-color;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
